
.note{
	border: 1px black solid;
	padding: 3px;
	height: auto;
	width: 45%;
	margin: 5px;
	box-shadow: 2px 1px 5px black;
	display: inline-block;
	border-radius: 5px;
}
#categories{
	width: 20%;
	float: left;
}
#allNotes{
	width: 80%;
	float: left;
}
div{
	display: inline-block;
}
